*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #add8e6;
    min-height: 580px;
    align-items: center;
    flex-wrap: wrap;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header > div{
    height: 45px;
}


.bgOrange{
    background-color: #daa520;
}

.dashedBorder{
    border: 1px dashed black;
}

.w240{
    width: 240px;
}

.w720{
    width: 720px;
}

#logo{
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
}

nav{
    justify-content: center;
    align-items: center;
}

#login{
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}

#headerSection{
    width: 100vw;
    background-color: darkblue;
    min-height: 500px;
    align-items: center;
}

.bgViolet{
    background-color: #ee82ee;
}
#headerSection div{
    min-width: 900px;
    min-height: 400px;
}

.h600{
    min-height: 600px;
}

.bgWhite{
    width: 100vw;
    background-color: white;
    align-items: center;
}

.bgGrey{
    width: 100vw;
    background-color: #d3d3d3;
    align-items: center;
}

.bgBlue{
    background-color: #1e90ff;
    min-width: 700px;
    min-height: 500px;
    border: 1px dashed black;
}


.bgPink{
    background-color: #ffc0cb;
    min-width: 500px;
    min-height: 500px;
    border: 1px dashed black;
}

.h900{
    min-height: 1000px;
}

.bgGreen{
    background-color: #228b22;
    min-width: 1200px;
    min-height: 900px;
}

